*{

box-sizing: border-box;
}

.fixed-width {
width: 800px;
margin: 0 auto 0 auto;
}

body {
 background: linear-gradient(50deg, #FFE8E8, #FFAEDB, #FF4571,#ff99bb,#e6004c, #ff0080, #b30059);
 
}

.padding-block{
  margin-bottom: 20px;
  
  
}

/*=============
    Header
===============*/


#title em {
  font-family: "Berlin Sans", sans-serif ;
  
  font-style: normal;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  background: #fad6e7; 
  padding: 0px;
  
  
}

#title {
  font-family: "Broadway", sans-serif;
  font-size: 3em;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 4px;
  
  background: #fad6e7;
  margin: 0 0 0 0;
  padding-bottom: 0px;
  border-radius: 20px 20px 0px 0px;
}

#tribute-title {
  font-family: "Berlin Sans", arial, sans-serif;
  text-align: center;
  background: #fad6e7;
  font-size: 1.5em;
  padding-bottom: 5px;
  margin: 0 0 0 0;
  padding: 10px;
  border-radius: 0px 0px 25px 25px;
  letter-spacing: 3px;
 
}

/*==================
    main image
====================*/
 #image {
   max-width: 100%;
  height: auto;
   display: block;
   border-radius: 25px 25px 0px 0px
   
}

#img-caption {
  font-family: "Lucida Handwriting", sans-serif ;
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
  line-height: 1.5;
  background: #fad6e7;
  text-transform: uppercase;
  border-radius: 0px 0px 25px 25px;
  
}


/*================
  articles
=================*/

#tribute-info {
  background: #fad6e7;
  border-radius: 25px;
}

.article-title {
  font-weight: bold;
  margin: 40px 0 15px 0;
  text-align: center;
  font-size: 2em;
}

.article-paragraph {
  line-height: 1.2;
  text-align: justify;
  width: 70%;
  margin: auto;
}

p {
  font-family: "Arial", sans-serif;
  letter-spacing: 1px;
}

.list-move{
 padding-left: 12%;
}
.challenge-list {
display: inline-block;
font-family: "Monotype Corsiva", sans-serif;
  font-size: 1.2em;
  line-height: 1.5;

  
}

.learn-more{
  margin: auto;
  text-align: center;
  
}
.challenges {
  display: inline-grid;
  grid-column-gap: 10px;
  grid-template-columns: 256px 256px 256px;
  
  letter-spacing: 1px;
  margin: auto auto auto 10px;
  
   
}

/*==============
    footer
===============*/

            footer {
                text-align: center;
                text-transform: uppercase;
              background: pink;
              margin: 10px;
                
  
}
